{
    "CloudAPI": {
        "SerpAPI": "42e2b2817bf48352d3caa227212ebb82d6f8839cdd39b304c68cf58b42961c27"
    },
    "General": {
        "AutoCheckUpdate": true,
        "UserName": "388a13b4c7ce4d648cb463ed012fc395"
    },
    "QFluentWidgets": {
        "FontFamilies": [
            "楷体"
        ],
        "ThemeColor": "#ff009faa",
        "ThemeMode": "Dark"
    },
    "Patch": {
        "GitHub/Repo": "martin98-afk/CanvasMind",
        "GitHub/Token": "",
        "Platform": "github"
    },
    "LLM": {
        "APIBase": "http://168.168.10.110:20000",
        "APIEnabled": false,
        "APIKey": "",
        "APIPort": 8765,
        "EnabledSkills": [
            "brainstorming",
            "writing-plans",
            "docx",
            "pptx",
            "gk-optimizer"
        ],
        "FontFamily": "楷体",
        "MaxTokens": 2048,
        "Model": "qwen3-30b-a3b",
        "NotifyEnabled": true,
        "NotifySound": "beep",
        "SavedProviders": {
            "MiniMax (月之暗面)": {
                "模型名称": "MiniMax-M2.7",
                "API_URL": "https://api.minimax.chat/v1",
                "API_KEY": "sk-cp-YECP4gj2VZt7NxgUYww5Shn5FXBqb8aSIQDD0zMUoLzx10y4KEAYFKHqrmGhmx5Cxt9KV030zSXvyhDyqVs_0n-R2djEgYx6fzMs46T6gf3HooJdS5c4_Kk",
                "温度": 0.71,
                "最大Token": 208524,
                "获取地址": false
            },
            "DeepSeek": {
                "API_URL": "https://api.deepseek.com",
                "API_KEY": "sk-e4e32a5b3f7e4cc3a0a3eedb3874c059",
                "模型名称": "deepseek-v4-flash",
                "温度": 0.64,
                "最大Token": 1000000,
                "认证方式": "bearer",
                "模型列表": [
                    "deepseek-v4-flash",
                    "deepseek-v4-pro"
                ]
            }
        },
        "SelectedModel": "MiniMax (月之暗面)",
        "Temperature": 0.7
    }
}